/* General styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  background-color: #e9e9e9;
  background-color: #f5f5f5;
}

/* Header styles */
html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 50px; */
}

/* Hero section styles */
.hero-container {
  background-image: url('https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  background-color: rgb(66, 160, 66);
  height: 400px;
}

.hero {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Filter styles */
.filters {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  /* margin-bottom: 20px; */
  margin: 5px;
  width: 300px;
  min-width: 300px;
}

.hide {
  display: none;
}

.ui-group {
  margin-bottom: 10px;
}

.ui-group h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #003f54;
}

.filter-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hero h1 {
  font-size: 36px;
  text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#container {
  height: 800px;
  overflow: auto;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 20px;
}

/* Grid styles */
.grid {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);  */
  /* Adjust as needed */
  /* gap: 50px; */
  /* margin: 0 auto;
  max-width: 800px;
  height: 500px; */
  margin: 5px;
}


/* Box styles */
.box {
  flex-direction: column;
  width: 100%;
  min-height: 80px;
  margin: 0 0 10px 0;

  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  color: #000;
}

.non-premium {
  justify-content: center;
  color: #000;
  align-items: normal;
  /* background-color: #dcc477; */
}

.box-container{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 80px;
  padding: 10px 40px;
  justify-content: space-between;
}

.box-logo img {
  max-width: 140px;
  background-size: cover;
  background-position: center;
}

button {
  display: block;
  width: 120px;
  color: #fff;
  background-color: grey;
  border: none;
  border-radius: 20px;
  padding: 5px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
}


.contact-buttons button {
  background-color: #649e5a;
  margin-top: 10px;
}

.contact-buttons a {
  text-decoration: none;
}

.contact-buttons button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
  transition: ease 0.3s;
}


.social-media {
  display: flex;
  padding: 10px 40px;
  /* margin-top: 20px; */
}

.social-media a {
  text-decoration: none;
  color: #007bff;
  margin-right: 20px;
  font-size: 24px;
  transition: color 0.3s ease;
}

.fa-envelope {
  color: #caa430;
}

.fa-envelope:hover {
  color: red;
  transform: scale(1.2);
  transition: ease 0.3s;
}

.fa-house {
  color: #3a4965;
}
.fa-house:hover {
  color: red;
  transform: scale(1.2);
  transition: ease 0.3s;
}

.fa-instagram {
  color: #bc2a8d;
}
.fa-instagram:hover {
  color: red;
  transform: scale(1.2);
  transition: ease 0.3s;
}

.fa-facebook {
  color: #1877f2;
}

.fa-facebook:hover {
  color: red;
  transform: scale(1.2);
  transition: ease 0.3s;
}



.box-name {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.box-name h4 {
  font-size: 20px;
  font-weight: 600;
}

.box-info {
  padding: 20px 40px;
}

.box-info p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  
}

.line {
  border-bottom: 1px solid #000;
  padding: 20px;
}

/* Footer Start */

footer {
  display: flex;
  height: 150px;
  color: #000;
  margin: 0 auto;
  max-width: 800px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding: 0 20px;
}


h6 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 2.0;
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.footer-left a{
  text-decoration: none;  
}

.footer-right a {
  text-transform: lowercase;
}


/* Responsive styles */
@media screen and (max-width: 600px) {



  .box-container{
    padding: 10px 20px;
  }

  .box-name{
    padding: 10px 20px;
    display: block;
    height: auto;
  }

  .box-name h4 {
    font-size: 18px;
  }

  .box-info{
    padding: 10px 20px;
    
  }

  .box-info p{
    line-height: 1.2;
    
  }

  .social-media{
    padding: 10px 20px;
  }

  footer {
    display: block;
  }

  .footer-left {
    padding: 10px 0;
  }
}

